@font-face {
    font-family: saveurSans;
    src: url(fonts/Saveur_sans.otf);
  }
  
  @font-face {
    font-family: jost;
    src: url(fonts/Jost.ttf);
  }
  
  @font-face {
    font-family: jost_light;
    src: url(fonts/Jost_light.ttf);
  }
  
  body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}