body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --g-color-black: #000;
  --g-color-white: #fff;
  --g-color-medium-gray-opacity: rgba(118, 118, 118, .2);
  --g-color-white-opacity-10: rgba(255, 255, 255, .1);
  --g-color-black-opacity-10: rgba(0, 0, 0, .1);
  --g-color-black-opacity-20: rgba(0, 0, 0, .2);
  --g-color-black-opacity-30: rgba(0, 0, 0, .3);
  --g-color-black-opacity-40: rgba(0, 0, 0, .4);
  --g-color-gucci-beauty: #ebbfb1;
  --g-color-gucci-garden: #ed9cad;
  --g-color-gucci-osteria: #ed9cad;
  --g-color-my-gucci-account: #7c183d;
  --g-color-vault-green: #6fd885;
  --g-color-vault-yellow: #ff0;
  --g-color-foreground: #000;
  --g-color-background: #fff;
  --g-color-accessibility: #337eff;
  --g-color-backdrop: var(--g-color-black-opacity-40);
  --g-color-divider: rgba(0, 0, 0, .15);
  --g-color-divider-inversed: rgba(255, 255, 255, .5);
  --g-color-hover-shadow: rgba(0, 0, 0, .1);
  --g-color-hover-shadow-inversed: rgba(255, 255, 255, .5);
  --g-color-disabled: #767676;
  --g-color-disabled-opacity: rgba(118, 118, 118, .2);
  --g-color-error: #c00;
  --g-color-error-inversed: #ec716b;
  --g-color-success: #063;
  --g-color-success-inversed: #60c96d;
  --g-color-warning: #994d00;
  --g-color-warning-inversed: #ee692d
}

.with-theme-default {
  --g-color-black: #000;
  --g-color-white: #fff;
  --g-color-medium-gray-opacity: rgba(118, 118, 118, .2);
  --g-color-white-opacity-10: rgba(255, 255, 255, .1);
  --g-color-black-opacity-10: rgba(0, 0, 0, .1);
  --g-color-black-opacity-20: rgba(0, 0, 0, .2);
  --g-color-black-opacity-30: rgba(0, 0, 0, .3);
  --g-color-black-opacity-40: rgba(0, 0, 0, .4);
  --g-color-gucci-beauty: #ebbfb1;
  --g-color-gucci-garden: #ed9cad;
  --g-color-gucci-osteria: #ed9cad;
  --g-color-my-gucci-account: #7c183d;
  --g-color-vault-green: #6fd885;
  --g-color-vault-yellow: #ff0;
  --g-color-foreground: #000;
  --g-color-background: #fff;
  --g-color-accessibility: #337eff;
  --g-color-backdrop: var(--g-color-black-opacity-40);
  --g-color-divider: rgba(0, 0, 0, .15);
  --g-color-divider-inversed: rgba(255, 255, 255, .5);
  --g-color-hover-shadow: rgba(0, 0, 0, .1);
  --g-color-hover-shadow-inversed: rgba(255, 255, 255, .5);
  --g-color-disabled: #767676;
  --g-color-disabled-opacity: rgba(118, 118, 118, .2);
  --g-color-error: #c00;
  --g-color-error-inversed: #ec716b;
  --g-color-success: #063;
  --g-color-success-inversed: #60c96d;
  --g-color-warning: #994d00;
  --g-color-warning-inversed: #ee692d
}

.has-color-black {
  color: #000
}

.has-background-color-black {
  background-color: #000
}

.has-color-white {
  color: #fff
}

.has-background-color-white {
  background-color: #fff
}

.has-color-medium-gray-opacity {
  color: #76767633
}

.has-background-color-medium-gray-opacity {
  background-color: #76767633
}

.has-color-white-opacity-10 {
  color: #ffffff1a
}

.has-background-color-white-opacity-10 {
  background-color: #ffffff1a
}

.has-color-black-opacity-10 {
  color: #0000001a
}

.has-background-color-black-opacity-10 {
  background-color: #0000001a
}

.has-color-black-opacity-20 {
  color: #0003
}

.has-background-color-black-opacity-20 {
  background-color: #0003
}

.has-color-black-opacity-30 {
  color: #0000004d
}

.has-background-color-black-opacity-30 {
  background-color: #0000004d
}

.has-color-black-opacity-40 {
  color: #0006
}

.has-background-color-black-opacity-40 {
  background-color: #0006
}

.has-color-gucci-beauty {
  color: #ebbfb1
}

.has-background-color-gucci-beauty {
  background-color: #ebbfb1
}

.has-color-gucci-garden {
  color: #ed9cad
}

.has-background-color-gucci-garden {
  background-color: #ed9cad
}

.has-color-gucci-osteria {
  color: #ed9cad
}

.has-background-color-gucci-osteria {
  background-color: #ed9cad
}

.has-color-my-gucci-account {
  color: #7c183d
}

.has-background-color-my-gucci-account {
  background-color: #7c183d
}

.has-color-vault-green {
  color: #6fd885
}

.has-background-color-vault-green {
  background-color: #6fd885
}

.has-color-vault-yellow {
  color: #ff0
}

.has-background-color-vault-yellow {
  background-color: #ff0
}

.has-color-foreground {
  color: #000
}

.has-background-color-foreground {
  background-color: #000
}

.has-color-background {
  color: #fff
}

.has-background-color-background {
  background-color: #fff
}

.has-color-accessibility {
  color: #337eff
}

.has-background-color-accessibility {
  background-color: #337eff
}

.has-color-backdrop {
  color: var(--g-color-black-opacity-40)
}

.has-background-color-backdrop {
  background-color: var(--g-color-black-opacity-40)
}

.has-color-divider {
  color: #00000026
}

.has-background-color-divider {
  background-color: #00000026
}

.has-color-divider-inversed {
  color: #ffffff80
}

.has-background-color-divider-inversed {
  background-color: #ffffff80
}

.has-color-hover-shadow {
  color: #0000001a
}

.has-background-color-hover-shadow {
  background-color: #0000001a
}

.has-color-hover-shadow-inversed {
  color: #ffffff80
}

.has-background-color-hover-shadow-inversed {
  background-color: #ffffff80
}

.has-color-disabled {
  color: #767676
}

.has-background-color-disabled {
  background-color: #767676
}

.has-color-disabled-opacity {
  color: #76767633
}

.has-background-color-disabled-opacity {
  background-color: #76767633
}

.has-color-error {
  color: #c00
}

.has-background-color-error {
  background-color: #c00
}

.has-color-error-inversed {
  color: #ec716b
}

.has-background-color-error-inversed {
  background-color: #ec716b
}

.has-color-success {
  color: #063
}

.has-background-color-success {
  background-color: #063
}

.has-color-success-inversed {
  color: #60c96d
}

.has-background-color-success-inversed {
  background-color: #60c96d
}

.has-color-warning {
  color: #994d00
}

.has-background-color-warning {
  background-color: #994d00
}

.has-color-warning-inversed {
  color: #ee692d
}

.has-background-color-warning-inversed {
  background-color: #ee692d
}

.button.has-text-black {
  color: #000
}

.button.has-background-black {
  background-color: #000
}

.button.has-text-white {
  color: #fff
}

.button.has-background-white {
  background-color: #fff
}

.button.has-text-medium-gray-opacity {
  color: #76767633
}

.button.has-background-medium-gray-opacity {
  background-color: #76767633
}

.button.has-text-white-opacity-10 {
  color: #ffffff1a
}

.button.has-background-white-opacity-10 {
  background-color: #ffffff1a
}

.button.has-text-black-opacity-10 {
  color: #0000001a
}

.button.has-background-black-opacity-10 {
  background-color: #0000001a
}

.button.has-text-black-opacity-20 {
  color: #0003
}

.button.has-background-black-opacity-20 {
  background-color: #0003
}

.button.has-text-black-opacity-30 {
  color: #0000004d
}

.button.has-background-black-opacity-30 {
  background-color: #0000004d
}

.button.has-text-black-opacity-40 {
  color: #0006
}

.button.has-background-black-opacity-40 {
  background-color: #0006
}

.button.has-text-gucci-beauty {
  color: #ebbfb1
}

.button.has-background-gucci-beauty {
  background-color: #ebbfb1
}

.button.has-text-gucci-garden {
  color: #ed9cad
}

.button.has-background-gucci-garden {
  background-color: #ed9cad
}

.button.has-text-gucci-osteria {
  color: #ed9cad
}

.button.has-background-gucci-osteria {
  background-color: #ed9cad
}

.button.has-text-my-gucci-account {
  color: #7c183d
}

.button.has-background-my-gucci-account {
  background-color: #7c183d
}

.button.has-text-vault-green {
  color: #6fd885
}

.button.has-background-vault-green {
  background-color: #6fd885
}

.button.has-text-vault-yellow {
  color: #ff0
}

.button.has-background-vault-yellow {
  background-color: #ff0
}

.button.has-text-foreground {
  color: #000
}

.button.has-background-foreground {
  background-color: #000
}

.button.has-text-background {
  color: #fff
}

.button.has-background-background {
  background-color: #fff
}

.button.has-text-accessibility {
  color: #337eff
}

.button.has-background-accessibility {
  background-color: #337eff
}

.button.has-text-backdrop {
  color: var(--g-color-black-opacity-40)
}

.button.has-background-backdrop {
  background-color: var(--g-color-black-opacity-40)
}

.button.has-text-divider {
  color: #00000026
}

.button.has-background-divider {
  background-color: #00000026
}

.button.has-text-divider-inversed {
  color: #ffffff80
}

.button.has-background-divider-inversed {
  background-color: #ffffff80
}

.button.has-text-hover-shadow {
  color: #0000001a
}

.button.has-background-hover-shadow {
  background-color: #0000001a
}

.button.has-text-hover-shadow-inversed {
  color: #ffffff80
}

.button.has-background-hover-shadow-inversed {
  background-color: #ffffff80
}

.button.has-text-disabled {
  color: #767676
}

.button.has-background-disabled {
  background-color: #767676
}

.button.has-text-disabled-opacity {
  color: #76767633
}

.button.has-background-disabled-opacity {
  background-color: #76767633
}

.button.has-text-error {
  color: #c00
}

.button.has-background-error {
  background-color: #c00
}

.button.has-text-error-inversed {
  color: #ec716b
}

.button.has-background-error-inversed {
  background-color: #ec716b
}

.button.has-text-success {
  color: #063
}

.button.has-background-success {
  background-color: #063
}

.button.has-text-success-inversed {
  color: #60c96d
}

.button.has-background-success-inversed {
  background-color: #60c96d
}

.button.has-text-warning {
  color: #994d00
}

.button.has-background-warning {
  background-color: #994d00
}

.button.has-text-warning-inversed {
  color: #ee692d
}

.button.has-background-warning-inversed {
  background-color: #ee692d
}

:root {
  --g-box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, .1);
  --g-blur: blur(15px)
}

@font-face {
  font-family: Gucci Sans Pro;
  font-weight: 100;
  src: resolve("fonts/GucciSansPro-Light.otf") format("opentype")
}

@font-face {
  font-family: Gucci Sans Pro;
  font-weight: 400;
  src: resolve("fonts/GucciSansPro-Book.otf") format("opentype")
}

@font-face {
  font-family: Gucci Sans Pro;
  font-weight: 500;
  src: resolve("fonts/GucciSansPro-Medium.otf") format("opentype")
}

@font-face {
  font-family: Gucci Sans Pro;
  font-weight: 700;
  src: resolve("fonts/GucciSansPro-Bold.otf") format("opentype")
}

.light {
  font-weight: 100
}

:lang(ar) .light,:lang(ru) .light,:lang(ko) .light,:lang(ja) .light,:lang(th) .light,:lang(zh) .light,:lang(zh_HK) .light,:lang(zh-hk) .light {
  font-weight: 300
}

.book {
  font-weight: 400
}

.medium {
  font-weight: 500
}

.bold {
  font-weight: 700
}

body {
  font-family: Gucci Sans Pro,sans-serif
}

:lang(ko) body {
  font-family: Gucci Sans Pro,Apple SD Gothic Neo,Noto Sans KR,Malgun Gothic,sans-serif
}

:lang(ja) body {
  font-family: Gucci Sans Pro,Hiragino Sans,Noto Sans JP,Yu Gothic UI,sans-serif
}

:lang(zh_HK) body,:lang(zh-hk) body {
  font-family: Gucci Sans Pro,PingFang TC,Noto Sans TC,Microsoft JhengHei UI,sans-serif
}

:lang(zh) body {
  font-family: Gucci Sans Pro,PingFang SC,Noto Sans SC,Microsoft YaHei UI,sans-serif
}

:lang(th) body {
  font-family: Gucci Sans Pro,Thonburi,Noto Sans Thai,Leelawadee UI,sans-serif
}

:lang(ar) body {
  font-family: Gucci Sans Pro,SF Arabic,Noto Sans AR,Segoe UI,sans-serif
}

:lang(ru) body {
  font-family: Gucci Sans Pro,SF Pro,Noto Sans,Segoe UI,sans-serif
}

button {
  font-family: unset
}

body {
  color: var(--g-color-foreground);
  font-size: 16px
}

h1,h2,h3,h4,h5,h6 {
  margin: unset
}

h1:not([class*=is-title-]),.is-title-xxl {
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: -.05em;
  line-height: 2.5rem;
  text-transform: uppercase
}

@media screen and (min-width: 1024px) {
  h1:not([class*=is-title-]),.is-title-xxl {
      font-size:4rem;
      letter-spacing: -.03em;
      line-height: 4rem
  }
}

:lang(ko) h1:not([class*=is-title-]),:lang(ko) .is-title-xxl {
  font-weight: 400;
  letter-spacing: 0;
  line-height: 3rem
}

@media screen and (min-width: 1024px) {
  :lang(ko) h1:not([class*=is-title-]),:lang(ko) .is-title-xxl {
      letter-spacing:-.05em;
      line-height: 4.5rem
  }
}

:lang(ja) h1:not([class*=is-title-]),:lang(ja) .is-title-xxl {
  font-weight: 300;
  letter-spacing: .01em
}

:lang(ar) h1:not([class*=is-title-]),:lang(ru) h1:not([class*=is-title-]),:lang(th) h1:not([class*=is-title-]),:lang(zh) h1:not([class*=is-title-]),:lang(zh_HK) h1:not([class*=is-title-]),:lang(zh-hk) h1:not([class*=is-title-]),:lang(ar) .is-title-xxl,:lang(ru) .is-title-xxl,:lang(th) .is-title-xxl,:lang(zh) .is-title-xxl,:lang(zh_HK) .is-title-xxl,:lang(zh-hk) .is-title-xxl {
  font-weight: 300;
  letter-spacing: 0
}

h2:not([class*=is-title-]),.is-title-xl {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: -.03em;
  line-height: 2rem;
  text-transform: uppercase
}

@media screen and (min-width: 1024px) {
  h2:not([class*=is-title-]),.is-title-xl {
      font-size:3rem;
      letter-spacing: -.05em;
      line-height: 3rem
  }
}

:lang(ko) h2:not([class*=is-title-]),:lang(ko) .is-title-xl {
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2.5rem
}

@media screen and (min-width: 1024px) {
  :lang(ko) h2:not([class*=is-title-]),:lang(ko) .is-title-xl {
      letter-spacing:-.05em;
      line-height: 3.5rem
  }
}

:lang(ja) h2:not([class*=is-title-]),:lang(ja) .is-title-xl {
  font-weight: 300;
  letter-spacing: .01em
}

:lang(ar) h2:not([class*=is-title-]),:lang(ru) h2:not([class*=is-title-]),:lang(th) h2:not([class*=is-title-]),:lang(zh) h2:not([class*=is-title-]),:lang(zh_HK) h2:not([class*=is-title-]),:lang(zh-hk) h2:not([class*=is-title-]),:lang(ar) .is-title-xl,:lang(ru) .is-title-xl,:lang(th) .is-title-xl,:lang(zh) .is-title-xl,:lang(zh_HK) .is-title-xl,:lang(zh-hk) .is-title-xl {
  font-weight: 300;
  letter-spacing: 0
}

h3:not([class*=is-title-]),.is-title-l {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -.03em;
  line-height: 2rem;
  text-transform: uppercase
}

@media screen and (min-width: 1024px) {
  h3:not([class*=is-title-]),.is-title-l {
      font-size:2rem;
      line-height: 2.5rem
  }
}

:lang(ko) h3:not([class*=is-title-]),:lang(ko) .is-title-l {
  letter-spacing: 0
}

@media screen and (min-width: 1024px) {
  :lang(ko) h3:not([class*=is-title-]),:lang(ko) .is-title-l {
      letter-spacing:-.03em
  }
}

:lang(ja) h3:not([class*=is-title-]),:lang(ja) .is-title-l {
  letter-spacing: .05em
}

:lang(ar) h3:not([class*=is-title-]),:lang(ru) h3:not([class*=is-title-]),:lang(th) h3:not([class*=is-title-]),:lang(zh) h3:not([class*=is-title-]),:lang(zh_HK) h3:not([class*=is-title-]),:lang(zh-hk) h3:not([class*=is-title-]),:lang(ar) .is-title-l,:lang(ru) .is-title-l,:lang(th) .is-title-l,:lang(zh) .is-title-l,:lang(zh_HK) .is-title-l,:lang(zh-hk) .is-title-l {
  letter-spacing: 0
}

h4:not([class*=is-title-]),.is-title-m {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: -.03em;
  line-height: 1.5rem;
  text-transform: uppercase
}

@media screen and (min-width: 1024px) {
  h4:not([class*=is-title-]),.is-title-m {
      font-size:1.5rem;
      line-height: 2rem
  }
}

:lang(ko) h4:not([class*=is-title-]),:lang(ko) .is-title-m {
  letter-spacing: 0
}

:lang(ja) h4:not([class*=is-title-]),:lang(ja) .is-title-m {
  letter-spacing: .05em
}

:lang(ar) h4:not([class*=is-title-]),:lang(ru) h4:not([class*=is-title-]),:lang(th) h4:not([class*=is-title-]),:lang(zh) h4:not([class*=is-title-]),:lang(zh_HK) h4:not([class*=is-title-]),:lang(zh-hk) h4:not([class*=is-title-]),:lang(ar) .is-title-m,:lang(ru) .is-title-m,:lang(th) .is-title-m,:lang(zh) .is-title-m,:lang(zh_HK) .is-title-m,:lang(zh-hk) .is-title-m {
  letter-spacing: 0
}

h5:not([class*=is-title-]),.is-title-s {
  font-size: .875rem;
  font-weight: 700;
  letter-spacing: .01em;
  line-height: 1rem;
  text-transform: uppercase
}

@media screen and (min-width: 1024px) {
  h5:not([class*=is-title-]),.is-title-s {
      font-size:1rem;
      letter-spacing: -.03em;
      line-height: 1.5rem
  }
}

:lang(ko) h5:not([class*=is-title-]),:lang(ko) .is-title-s {
  font-size: 1rem;
  letter-spacing: .03em;
  line-height: 1.5rem
}

:lang(ja) h5:not([class*=is-title-]),:lang(ja) .is-title-s {
  font-size: 1rem;
  letter-spacing: .05em;
  line-height: 1.5rem
}

:lang(th) h5:not([class*=is-title-]),:lang(th) .is-title-s {
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5rem
}

:lang(zh) h5:not([class*=is-title-]),:lang(zh_HK) h5:not([class*=is-title-]),:lang(zh-hk) h5:not([class*=is-title-]),:lang(zh) .is-title-s,:lang(zh_HK) .is-title-s,:lang(zh-hk) .is-title-s {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.5rem
}

:lang(ar) h5:not([class*=is-title-]),:lang(ar) .is-title-s {
  font-size: 1.125rem;
  letter-spacing: 0;
  line-height: 1.5rem
}

:lang(ru) h5:not([class*=is-title-]),:lang(ru) .is-title-s {
  letter-spacing: 0
}

h6:not([class*=is-title-]),.is-title-xs {
  font-size: .75rem;
  font-weight: 700;
  letter-spacing: -.05em;
  line-height: 1rem;
  text-transform: uppercase
}

:lang(ko) h6:not([class*=is-title-]),:lang(ko) .is-title-xs {
  letter-spacing: .03em
}

:lang(ja) h6:not([class*=is-title-]),:lang(ja) .is-title-xs {
  letter-spacing: .05em
}

:lang(th) h6:not([class*=is-title-]),:lang(zh) h6:not([class*=is-title-]),:lang(zh_HK) h6:not([class*=is-title-]),:lang(zh-hk) h6:not([class*=is-title-]),:lang(th) .is-title-xs,:lang(zh) .is-title-xs,:lang(zh_HK) .is-title-xs,:lang(zh-hk) .is-title-xs {
  font-weight: 600;
  letter-spacing: 0
}

:lang(ar) h6:not([class*=is-title-]),:lang(ar) .is-title-xs {
  font-size: .875rem;
  letter-spacing: 0
}

:lang(ru) h6:not([class*=is-title-]),:lang(ru) .is-title-xs {
  letter-spacing: 0
}

.is-text-xl-light {
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: -.04em;
  line-height: 2rem
}

@media screen and (min-width: 1024px) {
  .is-text-xl-light {
      font-size:2rem;
      letter-spacing: -.03em;
      line-height: 3rem
  }
}

:lang(ko) .is-text-xl-light {
  font-weight: 300;
  letter-spacing: -.05em
}

:lang(ja) .is-text-xl-light {
  font-weight: 300;
  letter-spacing: .01em
}

:lang(ar) .is-text-xl-light,:lang(ru) .is-text-xl-light,:lang(th) .is-text-xl-light,:lang(zh) .is-text-xl-light,:lang(zh_HK) .is-text-xl-light,:lang(zh-hk) .is-text-xl-light {
  font-weight: 300;
  letter-spacing: 0
}

.is-text-xl-light b,.is-text-xl-light strong {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -.04em;
  line-height: 2rem
}

@media screen and (min-width: 1024px) {
  .is-text-xl-light b,.is-text-xl-light strong {
      font-size:2rem;
      letter-spacing: -.03em;
      line-height: 3rem
  }
}

:lang(ko) .is-text-xl-light b,:lang(ko) .is-text-xl-light strong {
  letter-spacing: -.03em
}

@media screen and (min-width: 1024px) {
  :lang(ko) .is-text-xl-light b,:lang(ko) .is-text-xl-light strong {
      letter-spacing:.05em
  }
}

:lang(ja) .is-text-xl-light b,:lang(ja) .is-text-xl-light strong {
  letter-spacing: .05em
}

:lang(ar) .is-text-xl-light b,:lang(ru) .is-text-xl-light b,:lang(th) .is-text-xl-light b,:lang(zh) .is-text-xl-light b,:lang(zh_HK) .is-text-xl-light b,:lang(zh-hk) .is-text-xl-light b,:lang(ar) .is-text-xl-light strong,:lang(ru) .is-text-xl-light strong,:lang(th) .is-text-xl-light strong,:lang(zh) .is-text-xl-light strong,:lang(zh_HK) .is-text-xl-light strong,:lang(zh-hk) .is-text-xl-light strong {
  letter-spacing: 0
}

.is-text-xl-light a {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -.04em;
  line-height: 2rem;
  text-decoration: underline
}

@media screen and (min-width: 1024px) {
  .is-text-xl-light a {
      font-size:2rem;
      letter-spacing: -.03em;
      line-height: 3rem
  }
}

:lang(ko) .is-text-xl-light a {
  letter-spacing: -.03em
}

@media screen and (min-width: 1024px) {
  :lang(ko) .is-text-xl-light a {
      letter-spacing:.05em
  }
}

:lang(ja) .is-text-xl-light a {
  letter-spacing: .05em
}

:lang(ar) .is-text-xl-light a,:lang(ru) .is-text-xl-light a,:lang(th) .is-text-xl-light a,:lang(zh) .is-text-xl-light a,:lang(zh_HK) .is-text-xl-light a,:lang(zh-hk) .is-text-xl-light a {
  letter-spacing: 0
}

.is-text-xl-medium {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -.04em;
  line-height: 2rem
}

@media screen and (min-width: 1024px) {
  .is-text-xl-medium {
      font-size:2rem;
      letter-spacing: -.03em;
      line-height: 3rem
  }
}

:lang(ko) .is-text-xl-medium {
  letter-spacing: -.03em
}

@media screen and (min-width: 1024px) {
  :lang(ko) .is-text-xl-medium {
      letter-spacing:.05em
  }
}

:lang(ja) .is-text-xl-medium {
  letter-spacing: .05em
}

:lang(ar) .is-text-xl-medium,:lang(ru) .is-text-xl-medium,:lang(th) .is-text-xl-medium,:lang(zh) .is-text-xl-medium,:lang(zh_HK) .is-text-xl-medium,:lang(zh-hk) .is-text-xl-medium {
  letter-spacing: 0
}

.is-text-xl-medium b,.is-text-xl-medium strong {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -.04em;
  line-height: 2rem
}

@media screen and (min-width: 1024px) {
  .is-text-xl-medium b,.is-text-xl-medium strong {
      font-size:2rem;
      letter-spacing: -.03em;
      line-height: 3rem
  }
}

:lang(ko) .is-text-xl-medium b,:lang(ko) .is-text-xl-medium strong {
  letter-spacing: -.03em
}

@media screen and (min-width: 1024px) {
  :lang(ko) .is-text-xl-medium b,:lang(ko) .is-text-xl-medium strong {
      letter-spacing:.05em
  }
}

:lang(ja) .is-text-xl-medium b,:lang(ja) .is-text-xl-medium strong {
  letter-spacing: .05em
}

:lang(ar) .is-text-xl-medium b,:lang(ru) .is-text-xl-medium b,:lang(th) .is-text-xl-medium b,:lang(zh) .is-text-xl-medium b,:lang(zh_HK) .is-text-xl-medium b,:lang(zh-hk) .is-text-xl-medium b,:lang(ar) .is-text-xl-medium strong,:lang(ru) .is-text-xl-medium strong,:lang(th) .is-text-xl-medium strong,:lang(zh) .is-text-xl-medium strong,:lang(zh_HK) .is-text-xl-medium strong,:lang(zh-hk) .is-text-xl-medium strong {
  letter-spacing: 0
}

.is-text-xl-medium a {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: -.04em;
  line-height: 2rem;
  text-decoration: underline
}

@media screen and (min-width: 1024px) {
  .is-text-xl-medium a {
      font-size:2rem;
      letter-spacing: -.03em;
      line-height: 3rem
  }
}

:lang(ko) .is-text-xl-medium a {
  letter-spacing: -.03em
}

@media screen and (min-width: 1024px) {
  :lang(ko) .is-text-xl-medium a {
      letter-spacing:.05em
  }
}

:lang(ja) .is-text-xl-medium a {
  letter-spacing: .05em
}

:lang(ar) .is-text-xl-medium a,:lang(ru) .is-text-xl-medium a,:lang(th) .is-text-xl-medium a,:lang(zh) .is-text-xl-medium a,:lang(zh_HK) .is-text-xl-medium a,:lang(zh-hk) .is-text-xl-medium a {
  letter-spacing: 0
}

.is-text-light {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: -.04em;
  line-height: 1.5rem
}

:lang(ko) .is-text-light {
  font-weight: 300;
  letter-spacing: 0
}

:lang(ja) .is-text-light {
  font-weight: 300;
  letter-spacing: .01em
}

:lang(th) .is-text-light,:lang(ru) .is-text-light,:lang(zh) .is-text-light,:lang(zh_HK) .is-text-light,:lang(zh-hk) .is-text-light {
  font-weight: 300;
  letter-spacing: 0
}

:lang(ar) .is-text-light {
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: 0
}

.is-text-light b,.is-text-light strong {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -.04em;
  line-height: 1.5rem
}

:lang(ko) .is-text-light b,:lang(ko) .is-text-light strong {
  letter-spacing: 0
}

:lang(ja) .is-text-light b,:lang(ja) .is-text-light strong {
  letter-spacing: .05em
}

:lang(th) .is-text-light b,:lang(ru) .is-text-light b,:lang(zh) .is-text-light b,:lang(zh_HK) .is-text-light b,:lang(zh-hk) .is-text-light b,:lang(th) .is-text-light strong,:lang(ru) .is-text-light strong,:lang(zh) .is-text-light strong,:lang(zh_HK) .is-text-light strong,:lang(zh-hk) .is-text-light strong {
  letter-spacing: 0
}

:lang(ar) .is-text-light b,:lang(ar) .is-text-light strong {
  font-size: 1.125rem;
  letter-spacing: 0
}

.is-text-light a {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -.04em;
  line-height: 1.5rem;
  text-decoration: underline
}

:lang(ko) .is-text-light a {
  letter-spacing: 0
}

:lang(ja) .is-text-light a {
  letter-spacing: .05em
}

:lang(th) .is-text-light a,:lang(ru) .is-text-light a,:lang(zh) .is-text-light a,:lang(zh_HK) .is-text-light a,:lang(zh-hk) .is-text-light a {
  letter-spacing: 0
}

:lang(ar) .is-text-light a {
  font-size: 1.125rem;
  letter-spacing: 0
}

.is-text-medium {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -.04em;
  line-height: 1.5rem
}

:lang(ko) .is-text-medium {
  letter-spacing: 0
}

:lang(ja) .is-text-medium {
  letter-spacing: .05em
}

:lang(th) .is-text-medium,:lang(ru) .is-text-medium,:lang(zh) .is-text-medium,:lang(zh_HK) .is-text-medium,:lang(zh-hk) .is-text-medium {
  letter-spacing: 0
}

:lang(ar) .is-text-medium {
  font-size: 1.125rem;
  letter-spacing: 0
}

.is-text-medium b,.is-text-medium strong {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -.04em;
  line-height: 1.5rem
}

:lang(ko) .is-text-medium b,:lang(ko) .is-text-medium strong {
  letter-spacing: 0
}

:lang(ja) .is-text-medium b,:lang(ja) .is-text-medium strong {
  letter-spacing: .05em
}

:lang(th) .is-text-medium b,:lang(ru) .is-text-medium b,:lang(zh) .is-text-medium b,:lang(zh_HK) .is-text-medium b,:lang(zh-hk) .is-text-medium b,:lang(th) .is-text-medium strong,:lang(ru) .is-text-medium strong,:lang(zh) .is-text-medium strong,:lang(zh_HK) .is-text-medium strong,:lang(zh-hk) .is-text-medium strong {
  letter-spacing: 0
}

:lang(ar) .is-text-medium b,:lang(ar) .is-text-medium strong {
  font-size: 1.125rem;
  letter-spacing: 0
}

.is-text-medium a {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -.04em;
  line-height: 1.5rem;
  text-decoration: underline
}

:lang(ko) .is-text-medium a {
  letter-spacing: 0
}

:lang(ja) .is-text-medium a {
  letter-spacing: .05em
}

:lang(th) .is-text-medium a,:lang(ru) .is-text-medium a,:lang(zh) .is-text-medium a,:lang(zh_HK) .is-text-medium a,:lang(zh-hk) .is-text-medium a {
  letter-spacing: 0
}

:lang(ar) .is-text-medium a {
  font-size: 1.125rem;
  letter-spacing: 0
}

.is-text-s-book {
  font-size: .75rem;
  font-weight: 400;
  letter-spacing: -.03em;
  line-height: 1rem
}

:lang(ko) .is-text-s-book {
  letter-spacing: 0
}

:lang(ja) .is-text-s-book {
  letter-spacing: .05em
}

:lang(th) .is-text-s-book,:lang(ru) .is-text-s-book,:lang(zh) .is-text-s-book,:lang(zh_HK) .is-text-s-book,:lang(zh-hk) .is-text-s-book {
  letter-spacing: 0
}

:lang(ar) .is-text-s-book {
  font-size: .875rem;
  letter-spacing: 0
}

.is-text-s-book b,.is-text-s-book strong {
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: -.03em;
  line-height: 1rem
}

:lang(ko) .is-text-s-book b,:lang(ko) .is-text-s-book strong {
  letter-spacing: 0
}

:lang(ja) .is-text-s-book b,:lang(ja) .is-text-s-book strong {
  letter-spacing: .05em
}

:lang(th) .is-text-s-book b,:lang(ru) .is-text-s-book b,:lang(zh) .is-text-s-book b,:lang(zh_HK) .is-text-s-book b,:lang(zh-hk) .is-text-s-book b,:lang(th) .is-text-s-book strong,:lang(ru) .is-text-s-book strong,:lang(zh) .is-text-s-book strong,:lang(zh_HK) .is-text-s-book strong,:lang(zh-hk) .is-text-s-book strong {
  letter-spacing: 0
}

:lang(ar) .is-text-s-book b,:lang(ar) .is-text-s-book strong {
  font-size: .875rem;
  letter-spacing: 0
}

.is-text-s-book a {
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: -.03em;
  line-height: 1rem;
  text-decoration: underline
}

:lang(ko) .is-text-s-book a {
  letter-spacing: 0
}

:lang(ja) .is-text-s-book a {
  letter-spacing: .05em
}

:lang(th) .is-text-s-book a,:lang(ru) .is-text-s-book a,:lang(zh) .is-text-s-book a,:lang(zh_HK) .is-text-s-book a,:lang(zh-hk) .is-text-s-book a {
  letter-spacing: 0
}

:lang(ar) .is-text-s-book a {
  font-size: .875rem;
  letter-spacing: 0
}

.is-text-s-medium {
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: -.03em;
  line-height: 1rem
}

:lang(ko) .is-text-s-medium {
  letter-spacing: 0
}

:lang(ja) .is-text-s-medium {
  letter-spacing: .05em
}

:lang(th) .is-text-s-medium,:lang(ru) .is-text-s-medium,:lang(zh) .is-text-s-medium,:lang(zh_HK) .is-text-s-medium,:lang(zh-hk) .is-text-s-medium {
  letter-spacing: 0
}

:lang(ar) .is-text-s-medium {
  font-size: .875rem;
  letter-spacing: 0
}

.is-text-s-medium b,.is-text-s-medium strong {
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: -.03em;
  line-height: 1rem
}

:lang(ko) .is-text-s-medium b,:lang(ko) .is-text-s-medium strong {
  letter-spacing: 0
}

:lang(ja) .is-text-s-medium b,:lang(ja) .is-text-s-medium strong {
  letter-spacing: .05em
}

:lang(th) .is-text-s-medium b,:lang(ru) .is-text-s-medium b,:lang(zh) .is-text-s-medium b,:lang(zh_HK) .is-text-s-medium b,:lang(zh-hk) .is-text-s-medium b,:lang(th) .is-text-s-medium strong,:lang(ru) .is-text-s-medium strong,:lang(zh) .is-text-s-medium strong,:lang(zh_HK) .is-text-s-medium strong,:lang(zh-hk) .is-text-s-medium strong {
  letter-spacing: 0
}

:lang(ar) .is-text-s-medium b,:lang(ar) .is-text-s-medium strong {
  font-size: .875rem;
  letter-spacing: 0
}

.is-text-s-medium a {
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: -.03em;
  line-height: 1rem;
  text-decoration: underline
}

:lang(ko) .is-text-s-medium a {
  letter-spacing: 0
}

:lang(ja) .is-text-s-medium a {
  letter-spacing: .05em
}

:lang(th) .is-text-s-medium a,:lang(ru) .is-text-s-medium a,:lang(zh) .is-text-s-medium a,:lang(zh_HK) .is-text-s-medium a,:lang(zh-hk) .is-text-s-medium a {
  letter-spacing: 0
}

:lang(ar) .is-text-s-medium a {
  font-size: .875rem;
  letter-spacing: 0
}

.is-text-details {
  font-size: .563rem;
  font-weight: 500;
  letter-spacing: -.03em;
  line-height: .75rem
}

:lang(ko) .is-text-details {
  letter-spacing: 0
}

:lang(ja) .is-text-details {
  letter-spacing: .05em
}

:lang(th) .is-text-details,:lang(ru) .is-text-details,:lang(zh) .is-text-details,:lang(zh_HK) .is-text-details,:lang(zh-hk) .is-text-details {
  letter-spacing: 0
}

:lang(ar) .is-text-details {
  font-size: .875rem;
  letter-spacing: 0
}

.is-text-input {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: -.03em;
  line-height: 1rem
}

@media screen and (min-width: 1024px) {
  .is-text-input {
      letter-spacing:-.04em
  }
}

:lang(ko) .is-text-input {
  font-weight: 300;
  letter-spacing: 0
}

@media screen and (min-width: 1024px) {
  :lang(ko) .is-text-input {
      letter-spacing:0
  }
}

:lang(ja) .is-text-input {
  font-weight: 300;
  letter-spacing: .01em
}

@media screen and (min-width: 1024px) {
  :lang(ja) .is-text-input {
      letter-spacing:.01em
  }
}

:lang(th) .is-text-input,:lang(ru) .is-text-input,:lang(zh) .is-text-input,:lang(zh_HK) .is-text-input,:lang(zh-hk) .is-text-input {
  font-weight: 300;
  letter-spacing: 0
}

@media screen and (min-width: 1024px) {
  :lang(th) .is-text-input,:lang(ru) .is-text-input,:lang(zh) .is-text-input,:lang(zh_HK) .is-text-input,:lang(zh-hk) .is-text-input {
      letter-spacing:0
  }
}

:lang(ar) .is-text-input {
  font-size: .688rem;
  letter-spacing: 0
}

@media screen and (min-width: 1024px) {
  :lang(ar) .is-text-input {
      letter-spacing:0
  }
}

.is-text-input-medium {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: -.03em;
  line-height: 1rem;
  font-weight: 500
}

@media screen and (min-width: 1024px) {
  .is-text-input-medium {
      letter-spacing:-.04em
  }
}

:lang(ko) .is-text-input-medium {
  font-weight: 300;
  letter-spacing: 0
}

@media screen and (min-width: 1024px) {
  :lang(ko) .is-text-input-medium {
      letter-spacing:0
  }
}

:lang(ja) .is-text-input-medium {
  font-weight: 300;
  letter-spacing: .01em
}

@media screen and (min-width: 1024px) {
  :lang(ja) .is-text-input-medium {
      letter-spacing:.01em
  }
}

:lang(th) .is-text-input-medium,:lang(ru) .is-text-input-medium,:lang(zh) .is-text-input-medium,:lang(zh_HK) .is-text-input-medium,:lang(zh-hk) .is-text-input-medium {
  font-weight: 300;
  letter-spacing: 0
}

@media screen and (min-width: 1024px) {
  :lang(th) .is-text-input-medium,:lang(ru) .is-text-input-medium,:lang(zh) .is-text-input-medium,:lang(zh_HK) .is-text-input-medium,:lang(zh-hk) .is-text-input-medium {
      letter-spacing:0
  }
}

:lang(ar) .is-text-input-medium {
  font-size: .688rem;
  letter-spacing: 0
}

@media screen and (min-width: 1024px) {
  :lang(ar) .is-text-input-medium {
      letter-spacing:0
  }
}

.has-line-through {
  text-decoration: line-through
}

.has-underline {
  text-decoration: underline
}

.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

.ignore-rtl {
  direction: ltr;
  unicode-bidi: embed
}

.grid {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(var(--columns, 12),1fr);
  grid-template-rows: repeat(var(--rows, 1),1fr)
}

.grid .col-1 {
  grid-column: auto/span 1
}

.grid .col-2 {
  grid-column: auto/span 2
}

.grid .col-3 {
  grid-column: auto/span 3
}

.grid .col-4 {
  grid-column: auto/span 4
}

.grid .col-5 {
  grid-column: auto/span 5
}

.grid .col-6 {
  grid-column: auto/span 6
}

.grid .col-7 {
  grid-column: auto/span 7
}

.grid .col-8 {
  grid-column: auto/span 8
}

.grid .col-9 {
  grid-column: auto/span 9
}

.grid .col-10 {
  grid-column: auto/span 10
}

.grid .col-11 {
  grid-column: auto/span 11
}

.grid .col-12 {
  grid-column: auto/span 12
}

.grid .start-1 {
  grid-column-start: 1
}

.grid .start-2 {
  grid-column-start: 2
}

.grid .start-3 {
  grid-column-start: 3
}

.grid .start-4 {
  grid-column-start: 4
}

.grid .start-5 {
  grid-column-start: 5
}

.grid .start-6 {
  grid-column-start: 6
}

.grid .start-7 {
  grid-column-start: 7
}

.grid .start-8 {
  grid-column-start: 8
}

.grid .start-9 {
  grid-column-start: 9
}

.grid .start-10 {
  grid-column-start: 10
}

.grid .start-11 {
  grid-column-start: 11
}

@media (min-width: 768px) {
  .grid .col-md-1 {
      grid-column:auto/span 1
  }

  .grid .col-md-2 {
      grid-column: auto/span 2
  }

  .grid .col-md-3 {
      grid-column: auto/span 3
  }

  .grid .col-md-4 {
      grid-column: auto/span 4
  }

  .grid .col-md-5 {
      grid-column: auto/span 5
  }

  .grid .col-md-6 {
      grid-column: auto/span 6
  }

  .grid .col-md-7 {
      grid-column: auto/span 7
  }

  .grid .col-md-8 {
      grid-column: auto/span 8
  }

  .grid .col-md-9 {
      grid-column: auto/span 9
  }

  .grid .col-md-10 {
      grid-column: auto/span 10
  }

  .grid .col-md-11 {
      grid-column: auto/span 11
  }

  .grid .col-md-12 {
      grid-column: auto/span 12
  }

  .grid .start-md-1 {
      grid-column-start: 1
  }

  .grid .start-md-2 {
      grid-column-start: 2
  }

  .grid .start-md-3 {
      grid-column-start: 3
  }

  .grid .start-md-4 {
      grid-column-start: 4
  }

  .grid .start-md-5 {
      grid-column-start: 5
  }

  .grid .start-md-6 {
      grid-column-start: 6
  }

  .grid .start-md-7 {
      grid-column-start: 7
  }

  .grid .start-md-8 {
      grid-column-start: 8
  }

  .grid .start-md-9 {
      grid-column-start: 9
  }

  .grid .start-md-10 {
      grid-column-start: 10
  }

  .grid .start-md-11 {
      grid-column-start: 11
  }
}

@media (min-width: 1024px) {
  .grid .col-lg-1 {
      grid-column:auto/span 1
  }

  .grid .col-lg-2 {
      grid-column: auto/span 2
  }

  .grid .col-lg-3 {
      grid-column: auto/span 3
  }

  .grid .col-lg-4 {
      grid-column: auto/span 4
  }

  .grid .col-lg-5 {
      grid-column: auto/span 5
  }

  .grid .col-lg-6 {
      grid-column: auto/span 6
  }

  .grid .col-lg-7 {
      grid-column: auto/span 7
  }

  .grid .col-lg-8 {
      grid-column: auto/span 8
  }

  .grid .col-lg-9 {
      grid-column: auto/span 9
  }

  .grid .col-lg-10 {
      grid-column: auto/span 10
  }

  .grid .col-lg-11 {
      grid-column: auto/span 11
  }

  .grid .col-lg-12 {
      grid-column: auto/span 12
  }

  .grid .start-lg-1 {
      grid-column-start: 1
  }

  .grid .start-lg-2 {
      grid-column-start: 2
  }

  .grid .start-lg-3 {
      grid-column-start: 3
  }

  .grid .start-lg-4 {
      grid-column-start: 4
  }

  .grid .start-lg-5 {
      grid-column-start: 5
  }

  .grid .start-lg-6 {
      grid-column-start: 6
  }

  .grid .start-lg-7 {
      grid-column-start: 7
  }

  .grid .start-lg-8 {
      grid-column-start: 8
  }

  .grid .start-lg-9 {
      grid-column-start: 9
  }

  .grid .start-lg-10 {
      grid-column-start: 10
  }

  .grid .start-lg-11 {
      grid-column-start: 11
  }
}

@media (min-width: 1440px) {
  .grid .col-xl-1 {
      grid-column:auto/span 1
  }

  .grid .col-xl-2 {
      grid-column: auto/span 2
  }

  .grid .col-xl-3 {
      grid-column: auto/span 3
  }

  .grid .col-xl-4 {
      grid-column: auto/span 4
  }

  .grid .col-xl-5 {
      grid-column: auto/span 5
  }

  .grid .col-xl-6 {
      grid-column: auto/span 6
  }

  .grid .col-xl-7 {
      grid-column: auto/span 7
  }

  .grid .col-xl-8 {
      grid-column: auto/span 8
  }

  .grid .col-xl-9 {
      grid-column: auto/span 9
  }

  .grid .col-xl-10 {
      grid-column: auto/span 10
  }

  .grid .col-xl-11 {
      grid-column: auto/span 11
  }

  .grid .col-xl-12 {
      grid-column: auto/span 12
  }

  .grid .start-xl-1 {
      grid-column-start: 1
  }

  .grid .start-xl-2 {
      grid-column-start: 2
  }

  .grid .start-xl-3 {
      grid-column-start: 3
  }

  .grid .start-xl-4 {
      grid-column-start: 4
  }

  .grid .start-xl-5 {
      grid-column-start: 5
  }

  .grid .start-xl-6 {
      grid-column-start: 6
  }

  .grid .start-xl-7 {
      grid-column-start: 7
  }

  .grid .start-xl-8 {
      grid-column-start: 8
  }

  .grid .start-xl-9 {
      grid-column-start: 9
  }

  .grid .start-xl-10 {
      grid-column-start: 10
  }

  .grid .start-xl-11 {
      grid-column-start: 11
  }
}

.container {
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px
}

@media (min-width: 768px) {
  .container {
      padding:0 32px
  }
}

@media (min-width: 1024px) {
  .container {
      padding:0 64px
  }
}

@media (min-width: 1440px) {
  .container {
      padding:0 64px
  }
}

.row-gap-4 {
  row-gap: .25rem
}

.row-gap-8 {
  row-gap: .5rem
}

.row-gap-12 {
  row-gap: .75rem
}

.row-gap-16 {
  row-gap: 1rem
}

.row-gap-24 {
  row-gap: 1.5rem
}

.row-gap-32 {
  row-gap: 2rem
}

.row-gap-40 {
  row-gap: 2.5rem
}

.row-gap-48 {
  row-gap: 3rem
}

.row-gap-56 {
  row-gap: 3.5rem
}

.row-gap-64 {
  row-gap: 4rem
}

.row-gap-72 {
  row-gap: 4.5rem
}

.row-gap-80 {
  row-gap: 5rem
}

.row-gap-88 {
  row-gap: 5.5rem
}

.row-gap-96 {
  row-gap: 6rem
}

.row-gap-104 {
  row-gap: 6.5rem
}

.row-gap-112 {
  row-gap: 7rem
}

.row-gap-120 {
  row-gap: 7.5rem
}

.row-gap-128 {
  row-gap: 8rem
}

.row-gap-136 {
  row-gap: 8.5rem
}

.row-gap-144 {
  row-gap: 9rem
}

.row-gap-152 {
  row-gap: 9.5rem
}

.row-gap-160 {
  row-gap: 10rem
}

@media (min-width: 768px) {
  .row-gap-md-4 {
      row-gap:.25rem
  }

  .row-gap-md-8 {
      row-gap: .5rem
  }

  .row-gap-md-12 {
      row-gap: .75rem
  }

  .row-gap-md-16 {
      row-gap: 1rem
  }

  .row-gap-md-24 {
      row-gap: 1.5rem
  }

  .row-gap-md-32 {
      row-gap: 2rem
  }

  .row-gap-md-40 {
      row-gap: 2.5rem
  }

  .row-gap-md-48 {
      row-gap: 3rem
  }

  .row-gap-md-56 {
      row-gap: 3.5rem
  }

  .row-gap-md-64 {
      row-gap: 4rem
  }

  .row-gap-md-72 {
      row-gap: 4.5rem
  }

  .row-gap-md-80 {
      row-gap: 5rem
  }

  .row-gap-md-88 {
      row-gap: 5.5rem
  }

  .row-gap-md-96 {
      row-gap: 6rem
  }

  .row-gap-md-104 {
      row-gap: 6.5rem
  }

  .row-gap-md-112 {
      row-gap: 7rem
  }

  .row-gap-md-120 {
      row-gap: 7.5rem
  }

  .row-gap-md-128 {
      row-gap: 8rem
  }

  .row-gap-md-136 {
      row-gap: 8.5rem
  }

  .row-gap-md-144 {
      row-gap: 9rem
  }

  .row-gap-md-152 {
      row-gap: 9.5rem
  }

  .row-gap-md-160 {
      row-gap: 10rem
  }
}

@media (min-width: 1024px) {
  .row-gap-lg-4 {
      row-gap:.25rem
  }

  .row-gap-lg-8 {
      row-gap: .5rem
  }

  .row-gap-lg-12 {
      row-gap: .75rem
  }

  .row-gap-lg-16 {
      row-gap: 1rem
  }

  .row-gap-lg-24 {
      row-gap: 1.5rem
  }

  .row-gap-lg-32 {
      row-gap: 2rem
  }

  .row-gap-lg-40 {
      row-gap: 2.5rem
  }

  .row-gap-lg-48 {
      row-gap: 3rem
  }

  .row-gap-lg-56 {
      row-gap: 3.5rem
  }

  .row-gap-lg-64 {
      row-gap: 4rem
  }

  .row-gap-lg-72 {
      row-gap: 4.5rem
  }

  .row-gap-lg-80 {
      row-gap: 5rem
  }

  .row-gap-lg-88 {
      row-gap: 5.5rem
  }

  .row-gap-lg-96 {
      row-gap: 6rem
  }

  .row-gap-lg-104 {
      row-gap: 6.5rem
  }

  .row-gap-lg-112 {
      row-gap: 7rem
  }

  .row-gap-lg-120 {
      row-gap: 7.5rem
  }

  .row-gap-lg-128 {
      row-gap: 8rem
  }

  .row-gap-lg-136 {
      row-gap: 8.5rem
  }

  .row-gap-lg-144 {
      row-gap: 9rem
  }

  .row-gap-lg-152 {
      row-gap: 9.5rem
  }

  .row-gap-lg-160 {
      row-gap: 10rem
  }
}

@media (min-width: 1440px) {
  .row-gap-xl-4 {
      row-gap:.25rem
  }

  .row-gap-xl-8 {
      row-gap: .5rem
  }

  .row-gap-xl-12 {
      row-gap: .75rem
  }

  .row-gap-xl-16 {
      row-gap: 1rem
  }

  .row-gap-xl-24 {
      row-gap: 1.5rem
  }

  .row-gap-xl-32 {
      row-gap: 2rem
  }

  .row-gap-xl-40 {
      row-gap: 2.5rem
  }

  .row-gap-xl-48 {
      row-gap: 3rem
  }

  .row-gap-xl-56 {
      row-gap: 3.5rem
  }

  .row-gap-xl-64 {
      row-gap: 4rem
  }

  .row-gap-xl-72 {
      row-gap: 4.5rem
  }

  .row-gap-xl-80 {
      row-gap: 5rem
  }

  .row-gap-xl-88 {
      row-gap: 5.5rem
  }

  .row-gap-xl-96 {
      row-gap: 6rem
  }

  .row-gap-xl-104 {
      row-gap: 6.5rem
  }

  .row-gap-xl-112 {
      row-gap: 7rem
  }

  .row-gap-xl-120 {
      row-gap: 7.5rem
  }

  .row-gap-xl-128 {
      row-gap: 8rem
  }

  .row-gap-xl-136 {
      row-gap: 8.5rem
  }

  .row-gap-xl-144 {
      row-gap: 9rem
  }

  .row-gap-xl-152 {
      row-gap: 9.5rem
  }

  .row-gap-xl-160 {
      row-gap: 10rem
  }
}

.has-m-4 {
  margin: .25rem
}

.has-mt-4 {
  margin-top: .25rem
}

.has-mb-4 {
  margin-bottom: .25rem
}

.has-ml-4 {
  margin-left: .25rem
}

.has-mr-4 {
  margin-right: .25rem
}

.has-p-4 {
  padding: .25rem
}

.has-pt-4 {
  padding-top: .25rem
}

.has-pb-4 {
  padding-bottom: .25rem
}

.has-pl-4 {
  padding-left: .25rem
}

.has-pr-4 {
  padding-right: .25rem
}

.has-gap-4 {
  gap: .25rem
}

.has-m-8 {
  margin: .5rem
}

.has-mt-8 {
  margin-top: .5rem
}

.has-mb-8 {
  margin-bottom: .5rem
}

.has-ml-8 {
  margin-left: .5rem
}

.has-mr-8 {
  margin-right: .5rem
}

.has-p-8 {
  padding: .5rem
}

.has-pt-8 {
  padding-top: .5rem
}

.has-pb-8 {
  padding-bottom: .5rem
}

.has-pl-8 {
  padding-left: .5rem
}

.has-pr-8 {
  padding-right: .5rem
}

.has-gap-8 {
  gap: .5rem
}

.has-m-12 {
  margin: .75rem
}

.has-mt-12 {
  margin-top: .75rem
}

.has-mb-12 {
  margin-bottom: .75rem
}

.has-ml-12 {
  margin-left: .75rem
}

.has-mr-12 {
  margin-right: .75rem
}

.has-p-12 {
  padding: .75rem
}

.has-pt-12 {
  padding-top: .75rem
}

.has-pb-12 {
  padding-bottom: .75rem
}

.has-pl-12 {
  padding-left: .75rem
}

.has-pr-12 {
  padding-right: .75rem
}

.has-gap-12 {
  gap: .75rem
}

.has-m-16 {
  margin: 1rem
}

.has-mt-16 {
  margin-top: 1rem
}

.has-mb-16 {
  margin-bottom: 1rem
}

.has-ml-16 {
  margin-left: 1rem
}

.has-mr-16 {
  margin-right: 1rem
}

.has-p-16 {
  padding: 1rem
}

.has-pt-16 {
  padding-top: 1rem
}

.has-pb-16 {
  padding-bottom: 1rem
}

.has-pl-16 {
  padding-left: 1rem
}

.has-pr-16 {
  padding-right: 1rem
}

.has-gap-16 {
  gap: 1rem
}

.has-m-24 {
  margin: 1.5rem
}

.has-mt-24 {
  margin-top: 1.5rem
}

.has-mb-24 {
  margin-bottom: 1.5rem
}

.has-ml-24 {
  margin-left: 1.5rem
}

.has-mr-24 {
  margin-right: 1.5rem
}

.has-p-24 {
  padding: 1.5rem
}

.has-pt-24 {
  padding-top: 1.5rem
}

.has-pb-24 {
  padding-bottom: 1.5rem
}

.has-pl-24 {
  padding-left: 1.5rem
}

.has-pr-24 {
  padding-right: 1.5rem
}

.has-gap-24 {
  gap: 1.5rem
}

.has-m-32 {
  margin: 2rem
}

.has-mt-32 {
  margin-top: 2rem
}

.has-mb-32 {
  margin-bottom: 2rem
}

.has-ml-32 {
  margin-left: 2rem
}

.has-mr-32 {
  margin-right: 2rem
}

.has-p-32 {
  padding: 2rem
}

.has-pt-32 {
  padding-top: 2rem
}

.has-pb-32 {
  padding-bottom: 2rem
}

.has-pl-32 {
  padding-left: 2rem
}

.has-pr-32 {
  padding-right: 2rem
}

.has-gap-32 {
  gap: 2rem
}

.has-m-40 {
  margin: 2.5rem
}

.has-mt-40 {
  margin-top: 2.5rem
}

.has-mb-40 {
  margin-bottom: 2.5rem
}

.has-ml-40 {
  margin-left: 2.5rem
}

.has-mr-40 {
  margin-right: 2.5rem
}

.has-p-40 {
  padding: 2.5rem
}

.has-pt-40 {
  padding-top: 2.5rem
}

.has-pb-40 {
  padding-bottom: 2.5rem
}

.has-pl-40 {
  padding-left: 2.5rem
}

.has-pr-40 {
  padding-right: 2.5rem
}

.has-gap-40 {
  gap: 2.5rem
}

.has-m-48 {
  margin: 3rem
}

.has-mt-48 {
  margin-top: 3rem
}

.has-mb-48 {
  margin-bottom: 3rem
}

.has-ml-48 {
  margin-left: 3rem
}

.has-mr-48 {
  margin-right: 3rem
}

.has-p-48 {
  padding: 3rem
}

.has-pt-48 {
  padding-top: 3rem
}

.has-pb-48 {
  padding-bottom: 3rem
}

.has-pl-48 {
  padding-left: 3rem
}

.has-pr-48 {
  padding-right: 3rem
}

.has-gap-48 {
  gap: 3rem
}

.has-m-56 {
  margin: 3.5rem
}

.has-mt-56 {
  margin-top: 3.5rem
}

.has-mb-56 {
  margin-bottom: 3.5rem
}

.has-ml-56 {
  margin-left: 3.5rem
}

.has-mr-56 {
  margin-right: 3.5rem
}

.has-p-56 {
  padding: 3.5rem
}

.has-pt-56 {
  padding-top: 3.5rem
}

.has-pb-56 {
  padding-bottom: 3.5rem
}

.has-pl-56 {
  padding-left: 3.5rem
}

.has-pr-56 {
  padding-right: 3.5rem
}

.has-gap-56 {
  gap: 3.5rem
}

.has-m-64 {
  margin: 4rem
}

.has-mt-64 {
  margin-top: 4rem
}

.has-mb-64 {
  margin-bottom: 4rem
}

.has-ml-64 {
  margin-left: 4rem
}

.has-mr-64 {
  margin-right: 4rem
}

.has-p-64 {
  padding: 4rem
}

.has-pt-64 {
  padding-top: 4rem
}

.has-pb-64 {
  padding-bottom: 4rem
}

.has-pl-64 {
  padding-left: 4rem
}

.has-pr-64 {
  padding-right: 4rem
}

.has-gap-64 {
  gap: 4rem
}

.has-m-72 {
  margin: 4.5rem
}

.has-mt-72 {
  margin-top: 4.5rem
}

.has-mb-72 {
  margin-bottom: 4.5rem
}

.has-ml-72 {
  margin-left: 4.5rem
}

.has-mr-72 {
  margin-right: 4.5rem
}

.has-p-72 {
  padding: 4.5rem
}

.has-pt-72 {
  padding-top: 4.5rem
}

.has-pb-72 {
  padding-bottom: 4.5rem
}

.has-pl-72 {
  padding-left: 4.5rem
}

.has-pr-72 {
  padding-right: 4.5rem
}

.has-gap-72 {
  gap: 4.5rem
}

.has-m-80 {
  margin: 5rem
}

.has-mt-80 {
  margin-top: 5rem
}

.has-mb-80 {
  margin-bottom: 5rem
}

.has-ml-80 {
  margin-left: 5rem
}

.has-mr-80 {
  margin-right: 5rem
}

.has-p-80 {
  padding: 5rem
}

.has-pt-80 {
  padding-top: 5rem
}

.has-pb-80 {
  padding-bottom: 5rem
}

.has-pl-80 {
  padding-left: 5rem
}

.has-pr-80 {
  padding-right: 5rem
}

.has-gap-80 {
  gap: 5rem
}

.has-m-88 {
  margin: 5.5rem
}

.has-mt-88 {
  margin-top: 5.5rem
}

.has-mb-88 {
  margin-bottom: 5.5rem
}

.has-ml-88 {
  margin-left: 5.5rem
}

.has-mr-88 {
  margin-right: 5.5rem
}

.has-p-88 {
  padding: 5.5rem
}

.has-pt-88 {
  padding-top: 5.5rem
}

.has-pb-88 {
  padding-bottom: 5.5rem
}

.has-pl-88 {
  padding-left: 5.5rem
}

.has-pr-88 {
  padding-right: 5.5rem
}

.has-gap-88 {
  gap: 5.5rem
}

.has-m-96 {
  margin: 6rem
}

.has-mt-96 {
  margin-top: 6rem
}

.has-mb-96 {
  margin-bottom: 6rem
}

.has-ml-96 {
  margin-left: 6rem
}

.has-mr-96 {
  margin-right: 6rem
}

.has-p-96 {
  padding: 6rem
}

.has-pt-96 {
  padding-top: 6rem
}

.has-pb-96 {
  padding-bottom: 6rem
}

.has-pl-96 {
  padding-left: 6rem
}

.has-pr-96 {
  padding-right: 6rem
}

.has-gap-96 {
  gap: 6rem
}

.has-m-104 {
  margin: 6.5rem
}

.has-mt-104 {
  margin-top: 6.5rem
}

.has-mb-104 {
  margin-bottom: 6.5rem
}

.has-ml-104 {
  margin-left: 6.5rem
}

.has-mr-104 {
  margin-right: 6.5rem
}

.has-p-104 {
  padding: 6.5rem
}

.has-pt-104 {
  padding-top: 6.5rem
}

.has-pb-104 {
  padding-bottom: 6.5rem
}

.has-pl-104 {
  padding-left: 6.5rem
}

.has-pr-104 {
  padding-right: 6.5rem
}

.has-gap-104 {
  gap: 6.5rem
}

.has-m-112 {
  margin: 7rem
}

.has-mt-112 {
  margin-top: 7rem
}

.has-mb-112 {
  margin-bottom: 7rem
}

.has-ml-112 {
  margin-left: 7rem
}

.has-mr-112 {
  margin-right: 7rem
}

.has-p-112 {
  padding: 7rem
}

.has-pt-112 {
  padding-top: 7rem
}

.has-pb-112 {
  padding-bottom: 7rem
}

.has-pl-112 {
  padding-left: 7rem
}

.has-pr-112 {
  padding-right: 7rem
}

.has-gap-112 {
  gap: 7rem
}

.has-m-120 {
  margin: 7.5rem
}

.has-mt-120 {
  margin-top: 7.5rem
}

.has-mb-120 {
  margin-bottom: 7.5rem
}

.has-ml-120 {
  margin-left: 7.5rem
}

.has-mr-120 {
  margin-right: 7.5rem
}

.has-p-120 {
  padding: 7.5rem
}

.has-pt-120 {
  padding-top: 7.5rem
}

.has-pb-120 {
  padding-bottom: 7.5rem
}

.has-pl-120 {
  padding-left: 7.5rem
}

.has-pr-120 {
  padding-right: 7.5rem
}

.has-gap-120 {
  gap: 7.5rem
}

.has-m-128 {
  margin: 8rem
}

.has-mt-128 {
  margin-top: 8rem
}

.has-mb-128 {
  margin-bottom: 8rem
}

.has-ml-128 {
  margin-left: 8rem
}

.has-mr-128 {
  margin-right: 8rem
}

.has-p-128 {
  padding: 8rem
}

.has-pt-128 {
  padding-top: 8rem
}

.has-pb-128 {
  padding-bottom: 8rem
}

.has-pl-128 {
  padding-left: 8rem
}

.has-pr-128 {
  padding-right: 8rem
}

.has-gap-128 {
  gap: 8rem
}

.has-m-136 {
  margin: 8.5rem
}

.has-mt-136 {
  margin-top: 8.5rem
}

.has-mb-136 {
  margin-bottom: 8.5rem
}

.has-ml-136 {
  margin-left: 8.5rem
}

.has-mr-136 {
  margin-right: 8.5rem
}

.has-p-136 {
  padding: 8.5rem
}

.has-pt-136 {
  padding-top: 8.5rem
}

.has-pb-136 {
  padding-bottom: 8.5rem
}

.has-pl-136 {
  padding-left: 8.5rem
}

.has-pr-136 {
  padding-right: 8.5rem
}

.has-gap-136 {
  gap: 8.5rem
}

.has-m-144 {
  margin: 9rem
}

.has-mt-144 {
  margin-top: 9rem
}

.has-mb-144 {
  margin-bottom: 9rem
}

.has-ml-144 {
  margin-left: 9rem
}

.has-mr-144 {
  margin-right: 9rem
}

.has-p-144 {
  padding: 9rem
}

.has-pt-144 {
  padding-top: 9rem
}

.has-pb-144 {
  padding-bottom: 9rem
}

.has-pl-144 {
  padding-left: 9rem
}

.has-pr-144 {
  padding-right: 9rem
}

.has-gap-144 {
  gap: 9rem
}

.has-m-152 {
  margin: 9.5rem
}

.has-mt-152 {
  margin-top: 9.5rem
}

.has-mb-152 {
  margin-bottom: 9.5rem
}

.has-ml-152 {
  margin-left: 9.5rem
}

.has-mr-152 {
  margin-right: 9.5rem
}

.has-p-152 {
  padding: 9.5rem
}

.has-pt-152 {
  padding-top: 9.5rem
}

.has-pb-152 {
  padding-bottom: 9.5rem
}

.has-pl-152 {
  padding-left: 9.5rem
}

.has-pr-152 {
  padding-right: 9.5rem
}

.has-gap-152 {
  gap: 9.5rem
}

.has-m-160 {
  margin: 10rem
}

.has-mt-160 {
  margin-top: 10rem
}

.has-mb-160 {
  margin-bottom: 10rem
}

.has-ml-160 {
  margin-left: 10rem
}

.has-mr-160 {
  margin-right: 10rem
}

.has-p-160 {
  padding: 10rem
}

.has-pt-160 {
  padding-top: 10rem
}

.has-pb-160 {
  padding-bottom: 10rem
}

.has-pl-160 {
  padding-left: 10rem
}

.has-pr-160 {
  padding-right: 10rem
}

.has-gap-160 {
  gap: 10rem
}

svg {
  --_g-icon-stroke-color: var(--g-icon-stroke-color, var(--g-color-foreground));
  --_g-icon-fill-color: var(--g-icon-fill-color, var(--g-color-foreground));
  --_g-icon-stroke-color-inversed: var( --g-icon-stroke-color, var(--g-color-background) );
  --_g-icon-google-red: var(--g-icon-google-red, #ea4335);
  --_g-icon-google-blue: var(--g-icon-google-blue, #4285f4);
  --_g-icon-google-yellow: var(--g-icon-google-yellow, #fbbc05);
  --_g-icon-google-green: var(--g-icon-google-green, #34a853);
  --_g-icon-status-available: var(--g-icon-status-available, #02b75c);
  --_g-icon-status-unavailable: var(--g-icon-status-unavailable, #f0d337);
  display: inline-flex
}

svg:is(.is-inversed) {
  --_g-icon-stroke-color: var( --g-icon-stroke-color-inversed, var(--g-color-background) );
  --_g-icon-fill-color: var( --g-icon-fill-color-inversed, var(--g-color-background) );
  --_g-icon-stroke-color-inversed: var( --g-icon-stroke-color-inversed, var(--g-color-foreground) )
}

svg path,svg g {
  transition: all .8s cubic-bezier(.5,0,0,1) 0s
}

[dir=rtl] svg.is-rtl-enabled {
  transform: scaleX(-1)
}

._breadcrumb_1oh6x_1 {
  --_g-breadcrumb-color: var(--g-color-foreground, var(--g-color-black))
}

._breadcrumb_1oh6x_1._is-inversed_1oh6x_4 {
  --_g-breadcrumb-color: var(--g-color-background, var(--g-color-white))
}

._breadcrumb_1oh6x_1 {
  padding: 1rem 0;
  color: var(--_g-breadcrumb-color);
  position: relative
}

._breadcrumb_1oh6x_1._is-centered_1oh6x_13 {
  text-align: center
}

._breadcrumb-itemlist_1oh6x_16 {
  display: inline-flex;
  padding: 0;
  list-style: none
}

._breadcrumb-item_1oh6x_16 {
  display: inline-flex
}

._breadcrumb-item_1oh6x_16:not(:first-child):before {
  display: inline-block;
  margin: 0 .25em;
  height: .8em;
  content: "/";
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: -.03em;
  line-height: 1rem
}

:lang(ko) ._breadcrumb-item_1oh6x_16:not(:first-child):before {
  letter-spacing: 0
}

:lang(ja) ._breadcrumb-item_1oh6x_16:not(:first-child):before {
  letter-spacing: .05em
}

:lang(th) ._breadcrumb-item_1oh6x_16:not(:first-child):before,:lang(ru) ._breadcrumb-item_1oh6x_16:not(:first-child):before,:lang(zh) ._breadcrumb-item_1oh6x_16:not(:first-child):before,:lang(zh_HK) ._breadcrumb-item_1oh6x_16:not(:first-child):before,:lang(zh-hk) ._breadcrumb-item_1oh6x_16:not(:first-child):before {
  letter-spacing: 0
}

:lang(ar) ._breadcrumb-item_1oh6x_16:not(:first-child):before {
  font-size: .875rem;
  letter-spacing: 0
}
